*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fafafa;
}

.services-section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:80px 20px 20px 20px;
}

.services-section header{
    margin-bottom: 40px;
    text-align: center;
}

.services-section header h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.services-section header p{
    font-size: 18px;
}



.services{
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
} 

.service{
    background-color: #fff;
}

.service.active .service-content{
    max-height: 500px;
    
}

.service-header{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
}

.service-header img{
    min-width: 45px;
    height: 45px;
    object-fit: contain;
    margin-right: 16px;
}

.service-header svg{
    margin-left: auto;
}

.service-content{

    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.9s ease, padding 0.3s ease;
}


.service-content p{
    font-size: 18px;
    line-height: 1.7;
    font-family: Montserrat, Arial, sans-serif;
    color: #171717;
    padding-top: 20px;
}

.service-content ul{
    margin-left: 26px;
    list-style: disc;
}

.service-content ul li{
    margin-bottom: 10px;
}


@media (max-width:900px){

    .services-section{
        padding: 50px 0 0 0;
        /* padding:80px 20px 20px 20px; */
    }

    .services-section header p{
        padding:10px;
        text-align: start;
    }
    .services{
      padding: 10px;
    }
  
    .service-header{
      padding:15px 30px;
    }

    .service-header h3{
        font-size: 1rem;
    }

    .service p{
        font-size: 20px;
    }

    .service-content{
        padding: 0 20px;
    }

    .service-content ul li{
        font-size: 20px;
    }
  
    .faq-question h3{
      padding-right: 15px;
    }
  
    .faq-section{
      padding-left: 10px;
      padding-right: 10px;
    }
  }